body {
background-color:black;
}

.centerblock {
width:fit-content;
position:absolute;
top:10%;
left:50%;
transform:translateX(-50%);
text-align:center;
}

#card {
background-image:url(images/0.jpg);
background-size:contain;
background-repeat:no-repeat;
width:400px;
height:600px;
border:none;
background-color:black;
}


@media only screen and (max-width: 600px) {
  #card {width:100%;height:500px;}.centerblock{width:90%;}
}